AddDefaultCharset utf-8
#Options -Indexes
#deny from all
#<Files "viewreestr">
#AuthName 'What you name?'
#AuthType Basic
#AuthUserFile /home/centrutil/xn--d1aobi0a9c.xn--80aaebhf3bk2ck1h.xn--p1ai/docs/.htpasswd
#Require user admin26 ssa353
#</Files>

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule .* index.php [L]


